.rodape {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.rodape .links {
    display: flex;
}

.rodape ul li {
    display: inline-block;
    flex-direction: row;
    margin-right: 32px;
}

.rodape ul li:last-child {
    margin-right: 0;
}

/* Estilos para telas grandes */
@media (min-width: 768px) {
    .rodape {
        padding: 80px;
    }
    .rodape .links {
        display: flex;
    }
    .rodape ul li {
        display: inline-block;
        margin-right: 32px;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 767px) {
    .rodape {
        flex-direction: column;
        padding: 20px;
    }
    .rodape .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .rodape ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .rodape ul li {
        display: inline-block;
        margin: 0 8px;
    }
    .rodape section {
        text-align: center;
        margin-bottom: 20px;
    }
    .rodape section:last-child {
        margin-bottom: 0;
    }
}
